.main-content {
  padding: 0px 16px;
}

.feed-content {
  margin-top: 26px;
}

.feed-items-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}




@media only screen and (min-width: 1000px) {
  .feed-search {
    flex: 0.23;
    position: sticky;
    top:0;
    height: 100vh;
  }
  .feed-items {
    flex: 0.75;
  }
}
@media only screen and (max-width: 1000px) {
  .feed-search {
    flex: 0;
    display:none;
  }
  
  .feed-items {
    flex: 1;
  }
}
