.main-root {
  margin: 0px auto;
  max-width: 1600px;
}

.main-content {
  padding: 0px 16px;
}

.feed-content {
  margin-top: 26px;
}

.feed-items-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}


@media only screen and (min-width: 1000px) {
  .feed-search {
    flex: 0.23;
    position: sticky;
    top: 0;
    height: 100vh;
  }
  .feed-items {
    flex: 0.75;
  }
}
@media only screen and (max-width: 1000px) {
  .feed-search {
    flex: 0;
    display: none;
  }
  .feed-items {
    flex: 1;
  }
}

.userprofile-root {
  position: relative;
  margin-top: -100px;
  z-index: 50;
}

.userprofile-background {
  filter: brightness(0.5);
}

.userprofile-contract-container {
  margin: 0px 25px;
  padding: 10px;
  position: relative;
  margin-top: -160px;
  z-index: 20;
  color: #fff;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}

.userprofile-contract-avatar {
  border-radius: 150px;
  border: 10px solid white;
}

.userprofile-contract-button {
  margin-top: 70px;
  border-radius: 30px;
  border: none;
  outline: none;
  border: 1px solid white;
  background-color: white;
  padding: 18px 25px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.userprofile-description-container {
  margin: 30px 40px;
  display: flex;
}

.userprofile-description-text-container {
  flex: 0.3;
  margin: 0px 20px;
}

.userprofile-wallet-container {
  width: fit-content;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.userprofile-user-id {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 20px;
}

.userprofile-user-contractName {
  margin: 16px 0px;
  font-size: 36px;
  font-weight: bold;
}

.userprofile-descrition-artworks {
  flex: 0.7;
}

.userprofile-follow {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userprofile-follow > * {
  flex: 0.33;
}

.userprofile-follow-text {
  font-size: 17px;
}

.userprofile-followedBy > div {
  margin: 10px 0px;
  color: rgba(0, 0, 0, 0.6);
}

.avatar-followed {
  direction: ltr;
  text-align: left;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  left: 5px;
  margin-left: -7px;
  z-index: 1;
}

.openModal-followed-button {
  cursor: pointer;
}

.userprofile-header {
  margin-top: 30px;
}

.userprofile-bio-detail {
  font-size: 14px;
}

.userprofile-user-contractAddress {
  margin: 4px 0px;
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgba(203, 180, 0, 1) 0%,
    rgba(179, 193, 0, 0.9808298319327731) 10%,
    rgba(68, 190, 0, 1) 20%,
    rgba(0, 193, 145, 1) 30%,
    rgba(1, 140, 213, 1) 60%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.artworkdetail-root {
  position: relative;
  margin-top: -100px;
  z-index: 50;
}

.artworkdetail-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  background-color: rgb(242, 242, 242);
}

.artworkdetail-img > img {
  width: 30%;
  height: 60%;
}

.artworkdetail-button-container {
  margin: 0px 20px;
  padding: 10px;
  position: relative;
  margin-top: -110px;
  z-index: 20;
  color: #fff;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}

.artworkdetail-button-container > * {
  margin-top: 70px;
}

.artworkdetail-share-button {
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: none;
  outline: none;
  border: 1px solid white;
  background-color: white;
  padding: 10px 25px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.artworkdetail-container {
  margin: 0px 40px;
  align-items: center;
}

.artworkdetail-half-container {
  flex: 0.5;
}

.artworkdetail-half-container > h6 , p {
  font-size: 16px;
  margin:2% 0px;
}

.artworkdetail-image-name{
  font-size: 40px;
}

.createasset-root{
  margin:4rem auto;
  width:70%;
  line-height: 1rem;
}

.createasset-required{
  color: red;
}

.createasset-root > textarea{
  resize: none;
  height: 100px;
}

.createasset-modal-button{
  color:rgba(50, 50, 255, 1);
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .userprofile-contract-container {
    justify-content: center;
    flex-direction: column;
  }
  .userprofile-description-container {
    flex-direction: column;
  }

  .userprofile-description-text-container > * {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .userprofile-contract-button {
    margin-top: 0;
  }

  .userprofile-avatar-followed {
    justify-content: center;
  }

  .userprofile-descrition-artworks {
    margin-top: 5%;
  }

  /* artwork detail page responsive */
  .artworkdetail-button-container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .artworkdetail-img > img {
    width: 80%;
  }
}
